<p id="notice"><%= notice %></p>

<p>
  <b>Col:</b>
  <%= @block.col %>
</p>

<p>
  <b>Content:</b>
  <%= @block.content %>
</p>

<p>
  <b>Position:</b>
  <%= @block.position %>
</p>


<%= link_to 'Edit', edit_block_path(@block) %> |
<%= link_to 'Back', blocks_path %>
