<%= form_for(@site, :html => {:class => 'ctrl', :multipart => true }) do |f| %>
  <% if @site.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@site.errors.count, "error") %> prohibited this site from being saved:</h2>

      <ul>
      <% @site.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.hidden_field :title, :class => 'title' %>
  </div>
  <div class="field">
    <%= f.label :layout %>
    <%= f.collection_select(:layout_id, Layout.all, :id, :title)%>
  </div>


  <%= f.label :favicon %>
  <%= image_tag(@site.favicon.url(:icon), :style => "float: left; margin-right: 7px; margin-top: 6px;")%>
  <%= f.file_field :favicon %>


  <div class="actions">
    <%= f.submit :class => "btn btn-primary" %>
  </div>
<% end %>
