<%= form_for(@site, :remote => true, :html => {:class => 'ctrl'}) do |f| %>
  <% if @site.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@site.errors.count, "error") %> prohibited this page from being saved:</h2>

      <ul>
      <% @site.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="row-fluid">
  <div class="field span6" style="float: left;">
    <%= f.label :robots, "Robots.txt" %>
    <%= f.text_area :robots, :rows => '5', :style => "width: 100%" %>
  </div>
  <div class="field span6" style="float: left; margin-left; 10px;">
    <%= f.label :google_analytics, "Google Analytics" %>
    <%= f.text_area :google_analytics, :rows => '5', :style => "width: 100%" %>
  </div>
</div>
<% end %>

