<h1>Your sites</h1>

<p>This layout is temporary.  Need to do a few things next:</p>

<ul>
	<li>Codemirror</li>
	<li>Add pages (acts_as_tree), rows, columns, blocks, assets, members, emails</li>
</ul>

<table class="table">
	<thead>
  <tr>
    <th>Title</th>
    <th>Subdomain</th>
    <th>Layout</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>
	<tbody>
<% @sites.each do |site| %>
  <tr>
    <td><%= site.title %></td>
    <td><%= site.subdomain %></td>
    <td><%= site.layout.title %></td>
    <td><%= link_to 'Show', root_url(subdomain: site.subdomain) %></td>
    <td><%= link_to 'Edit', edit_url(subdomain: site.subdomain) %></td>
    <td><%= link_to 'Destroy', site, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
	</tbody>
</table>

<br />

<%= link_to 'New Site', new_site_path, :class => "btn btn-primary" %>
