<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- <title><%= @site.seo_title %><% if !@page.nil? && @page.seo_title != "" %> | <%= @page.seo_title %><% end %></title> -->
<title><%= seo_title(@page) %></title>
<meta content="<%= meta_description(@page) %>" name="description">
<meta content="<%= meta_keywords(@page) %>" name="keywords">
<style>
body {
  padding-top: 60px;
}
.edit-buttons {
	position: fixed;
	bottom: 15px;
	right: 15px;
	background: #000;
	color: #fff;
	border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
}
.edit-buttons a {
	text-decoration: none;
	color: #FFF;
	padding: 10px 20px;
	display: block;
	border-radius: 20px;
}
ul.blocks {
	margin: 0px;
}
</style>

<% @site.site_resources.css.each do |stylesheet| %>
  	<link href="<%= (stylesheet.resource_url == '') ? stylesheet.resource.url : stylesheet.resource_url %>" rel="stylesheet" type="text/css">
<% end %>

<link rel="shortcut icon" href="<%= @site.favicon.url(:icon) %>">
</head>

<%= liquidize @current_site.layout.content, {
	'page_content' => yield,
	'site' => @site,
	'page' => @page,
	'user' => @user
	}
%>

<% @site.site_resources.js.each do |js| %>
		<script src="<%= (js.resource_url == '') ? js.resource.url : js.resource_url %>" type="text/javascript"></script>
<% end %>

</body>
</html>