<!DOCTYPE html>
<html lang="en">
<head>
  <title>Condo Motion</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link rel="shortcut icon" href="/favicon.png">
</head>


  <body>

	<div id="side-nav-primary">
		<div style="padding-top: 30px; text-align: center;">
<!-- 		icons are adjusted to 55% lightness and then 95% again for the white ones	 -->
			<ul class="nav nav-list nav-list-padded" style="padding: 0px;">
				<li class="icon-pages-lg active-lg link" id="pages"><a rel="tooltip" data-original-title="Pages & Content" href="#"></a></li>
				<li class="icon-group-lg link"><a rel="tooltip" data-original-title="Users" href="#"></a></li>
				<li class="icon-cardio-lg link"><a rel="tooltip" data-original-title="Activity & Comments" href="#"></a></li>
				<li class="icon-usd-lg link"><a rel="tooltip" data-original-title="Payments" href="#"></a></li>
				<li class="icon-cogs-lg link" id="settings"><a rel="tooltip" data-original-title="Settings" href="#"></a></li>

				<li class="icon-imac-lg link" id="sites"><%= link_to "", '#', 'data-original-title' => "Your Sites", :rel => "tooltip"%></li>
				<li class="icon-power-lg"><%= link_to "", destroy_user_session_url(subdomain: false), method: :delete, 'data-original-title' => "Sign Out", :rel => "tooltip" %></li>
				<!-- <li class="icon-eye-lg"><a rel="tooltip" data-original-title="Preview" id="preview" href="#"></a></li> -->
			</li>
    </div>
	</div>
	<div id="pages" class="side-nav-secondary">
		<div style="padding-top: 30px;">
			<h4 class="site-title-preview"><%= @site.title %></h4>
			<!-- <h4>Pages</h4> -->
			<ul class="nav nav-list sortable" data-update-url="<%= sort_pages_url %>">
	  <!--     <li class="<%= @page.nil? ? 'active site-title' : 'site-title' %> ui-state-disabled"><%= link_to '<i class="icon-home"></i> '.html_safe+@site.title, edit_url, :class => 'site-title' %></li> -->

	      <% @pages.each do |page| %>
				  <%= content_tag_for :li, page, :class => ((!@page.nil? && @page.id == page.id) ? 'active page-title' : ''), :style => "position: relative;"  do %>
				  	<%= link_to ('<i class="' + ((page.position == 1) ? 'icon-home' : 'icon-file') + ' move"></i> ').html_safe+page.title, edit_page_path(page), :class => 'page-title' %>
				  	<%= link_to('×', destroy_page_path(page), :method => 'delete', :confirm => "Are you sure?", :class => "close delete" ) %>
				  <% end %>
				<% end %>

				<li class="ui-state-disabled"><a href="#add_page" data-toggle="modal" data-backdrop="true" data-keyboard="true" style="color: #333;"><i class="icon-plus"></i> Add a Page</a></li>
	    </ul>

	    <hr/>

	    <!-- <h4>Other</h4> -->
	    <ul class="nav nav-list">
	      <!-- <li><a href="#"><i class="icon-folder-open"></i> Files</a></li> -->
	      <li><%= link_to raw("<i class='icon-edit'></i> Edit Layout"), edit_layout_url %></li>
	    </ul>
    </div>
	</div>

	<div id="sites" class="side-nav-secondary" style="display: none;">
		<div style="padding-top: 30px;">
			<h4>Your Sites</h4>
			<ul class="nav nav-list"">
	      <% @sites.each do |site| %>
				  <%= content_tag_for :li, site, :class => ((@site.id == site.id) ? 'active site-title' : 'site-title'), :style => "position: relative;"  do %>
				  	<%= link_to '<i class="icon-home"></i> '.html_safe+site.title, edit_url(subdomain: site.subdomain), :class => ((@site.id == site.id) ? 'site-title' : '') %>
				  	<%= link_to('×', site, :method => 'delete', :confirm => "Are you sure?", :class => "close delete" ) %>
				  <% end %>
				<% end %>
				<li class="ui-state-disabled"><a href="#add_site" data-toggle="modal" data-backdrop="true" data-keyboard="true" style="color: #333;"><i class="icon-plus"></i> Add a Site</a></li>
	    </ul>
    </div>
	</div>
	<div id="settings" class="side-nav-secondary" style="display: none;">
		<div style="padding-top: 30px;">
			<h4><%= @site.title %></h4>
			<ul class="nav nav-list">
	      <li style="position: relative;">
	      	<%= link_to '<i class="icon-wrench"></i> General'.html_safe, edit_site_url(@site	) %>
			  <!-- 	<a href="#"><i class="icon-wrench"></i> General</a> -->				 </li>
	    </ul>
    </div>
	</div>

	<div id="canvas">
		<div id="canvas-padding">
			<input type="text" value="<%= !@page.nil? ? @page.title : @site.title %>" id="<%= !@page.nil? ? 'page' : 'site' %>-title"/><div style="position: relative; display: none; top: 8px;" id="saving-indicator">Saving...</div>
			<i class="icon-cogs-lg pull-right" id="page-settings-toggle" style="width: 26px; height: 26px; margin-bottom: 5px; margin-left: 7px; cursor: pointer;"></i>
			<%= link_to raw('<i class="icon-eye-lg pull-right" id="page-design-toggle" style="width: 31px; height: 26px; margin-bottom: 5px; margin-left: 7px; cursor: pointer;"></i>'), ( !@page.nil? ? page_url(@page) : root_url(subdomain: @site.subdomain) ) %>

			<i class="icon-lock-lg pull-right" id="page-permissions-toggle" style="width: 26px; height: 26px; margin-bottom: 5px; margin-left: 7px; cursor: pointer;"></i>
			<div class="clear"></div>
			<div id="page-settings" class="row-fluid" style="border-top: 1px solid #f1f1f1; border-bottom: 1px solid #f1f1f1; display: none;">
				<div class="tabbable tabs-left row-fluid">
				  <ul class="nav nav-tabs span3" style="margin: 0px;">
	          <li class="active"><a href="#lA" data-toggle="tab" style='border-top: none;'><i class="icon-book"></i> CSS &amp; JS</a></li>
	          <li class=""><a href="#lB" data-toggle="tab"><i class="icon-pencil"></i> Meta </a></li>
	          <li class=""><a href="#lC" data-toggle="tab"><i class="icon-search"></i> Search & Tracking</a></li>
	        </ul>
				  <div class="tab-content span9" style="margin: 0px;">
	          <div class="tab-pane active" id="lA">
	            <%= render 'site_resources/site_resources' %>
	          </div>
	          <div class="tab-pane" id="lB">
	          	<% if @page %>
	            	<%= render 'pages/meta_form' %>
	            <% else %>
	            	<%= render 'sites/meta_form' %>
	            <% end %>
	          </div>
	          <div class="tab-pane" id="lC">
	            	<%= render 'sites/robots_form' %>
	          </div>
	        </div>
				</div>
			</div>
			<div class="row-fluid" style="position: relative; margin-top: 10px;">
		  	<%= yield %>
		  </div>


		</div>
	</div>

  <%= render "pages/new_form" %>
  <%= render "sites/new_form" %>


    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

</head>

    <script src="../../assets/js/editor.js"></script>
		<script type="text/javascript">
			$(function(){
				$("#page-settings-toggle").click(function(){
					$("#page-settings").slideToggle('fast');
				});

				$('.link').click(function(){
					var panel = $(this).attr('id');
					$(this).siblings('li').removeClass('active-lg');
					$(this).addClass('active-lg');
					$(".side-nav-secondary").hide()
					$(".side-nav-secondary#"+panel).show()
					return false;
				});

				$("#preview").click(function(){
					$("#side-nav-secondary").toggle();
					if ($("#side-nav-secondary").is(":visible")) {
						$("#canvas-padding").css('padding-left', '350px');
					} else {
						$("#canvas-padding").css('padding-left', '100px');
					}

				});
			});
		</script>
<!-- 		<script type="text/javascript">
			Aloha.ready( function() {
				Aloha.settings.floatingmenu = {
					width: 630, // with of the floating menu; auto calculated when not set
			    behaviour: 'topalign', // 'float' (default), 'topalign', 'append'
			    draggable: false, // boolean
			    marginTop: 10, // number in px
			    horizontalOffset: 0, // number in px -- used with 'topalign' behaviour
			    topalignOffset: 0 // number in px -- used with 'topalign' behaviour
				};
        // Make #content editable once Aloha is loaded and ready.
				Aloha.jQuery('.aloha').aloha({
					settings: {
						floatingmenu: {
							behaviour: 'topalign',
							draggable: false
						},
						toolbar: {
							tabs : {
				        // will generate a tab labeled "formatting"
				        formatting : {
				            // group "flow"
				            flow : [ 'b', 'em', 'u' ],
				            // group "phrasing"
				            phrasing : [ 'phrasing' ] // "phrasing" is the name of a
				            // MultiSplitButton from the format plugin, which contains
				            // elements like h1 ...
				        },
				        // will generate another tab labeled "insert"
				        insert : {
				            // as mentioned group names are not displayed anywhere,
				            // so you might pick an arbitrary name
				            first : [ 'image', 'insertLink' ]
				        }
					    },
							components: {
								phrasing : [ 'h1', 'h2', 'h3' ]
							}
						}
					}
				});
    	});
		</script> -->

  </body>
</html>
